/* Write your CSS here */
.team-item {
  list-style-type: none;
  width: 50%;
}

.link {
  display: flex;

  align-items: center;
  background-color: #ffffff33;
  height: 85%;
  border-radius: 13px;
  padding: 14px;
  border: 1px solid #ffffff;
  text-decoration: none;
  margin: 10px;
}

.logo {
  width: 55px;
  height: 55px;
}

.t-name {
  text-align: center;
  font-size: 30px;
  font-family: 'Bree Serif';
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .t-name {
    font-size: 14px;
    margin-left: 7px;
  }
}
